.common__section {
    background: linear-gradient(rgb(56, 118, 219), rgb(169, 197, 239)), url("../assets/images/common-section.jfif") no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 88px 0px;
    height: 300px;
}

.common__section h1 {
    color: #fff;
    font-weight: 600;
    margin-left: 400px;
}