.auth__form{
    background: rgb(133, 133, 239);
    padding: 24px 15px 15px;
    border-radius: 5px;
}
.login__btn{
    background: white !important;
    color: red;
    font-weight: 600;
}
.auth__form p{
    margin-bottom: 40px;
}
.auth__form p a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.auth__form input[type='file']{
    color: rgb(255, 255, 255);
}