.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: rgb(151, 154, 241);
}

.footer__text {
    line-height: 30px;
    color: rgb(159, 138, 230);
}

.footer__quick-links {
    background-color: rgb(104, 163, 236);
}

.footer__quick-links ul li {
    background: transparent !important;
}

.footer__quick-links ul li a {
    color: rgb(159, 138, 230);
}

.quick__links-title {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}

.footer__contact li span,
.footer__contact li p {
    color: rgb(39, 114, 179);
}

.footer__contact li span {
    font-size: 1.2rem;
}

.footer__contact li p {
    font-size: 0.9rem;
}

.footer__copyright {
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
}



.feed {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }

a 
{
     color: inherit; 
} 

  
  .feed:hover,
  .feed:focus-visible{
    --_p: 0px;
    outline-color: rgb(140, 168, 250);
    outline-offset: .05em;
  }
  
  .feed:active {
    background: rgb(140, 168, 250);
    color: #fff;
  }